Voice agent 1 - Persoanl assistant/voice ai agent - elevenlabs.json
{
  "name": "voice ai agent - elevenlabs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d52133a9-be04-4c73-ba39-8beb5e4e9c0a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -176
      ],
      "id": "38e42461-df3b-4111-9999-c2952d9c410e",
      "name": "Webhook",
      "webhookId": "d52133a9-be04-4c73-ba39-8beb5e4e9c0a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- contentCreator: Use this tool to create blog posts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        -176
      ],
      "id": "dcf8e3ce-a711-422c-9bd6-264e08e41c3b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -368,
        272
      ],
      "id": "66a9c94a-f196-4369-9e35-20b594512e6e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ulQa6ZRdbDpV4Slo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers.host }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        320
      ],
      "id": "aaed50fa-36da-411f-bb09-67c4ad4f7986",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        -176
      ],
      "id": "8ac75657-bd08-4c05-93d7-8fab8a1f84c7",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        928,
        288
      ],
      "id": "b87e71ce-74de-44ef-9982-b6c2313d8335",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "AoH0YdbLXSGnLRjx",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "AwUvJCJ67QFoXfkr",
          "cachedResultName": "Calender Booking"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        64,
        352
      ],
      "id": "5ea78e9e-50f9-41ed-8465-305a705817f2",
      "name": "calender booking"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "R6TmRAY1dIDaSelG",
          "mode": "list",
          "cachedResultName": "Email agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        256,
        336
      ],
      "id": "9aae3f26-9175-4b80-bb77-f1e23ed47a15",
      "name": "Email"
    },
    {
      "parameters": {
        "chatId": "=7991295449",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        480,
        352
      ],
      "id": "3fe7aa12-7364-47e2-a5e2-541ee71a368d",
      "name": "Send update",
      "webhookId": "5e1ca8bd-38cd-4d6d-b855-3b267052c7bf",
      "credentials": {
        "telegramApi": {
          "id": "adClV2Bdyk4cSaXi",
          "name": "Telegram account -Zeno"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        752,
        336
      ],
      "id": "fd28bb58-47f6-4b4a-aa2b-15a42753f5cb",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calender booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c60f3a6-1395-4398-b720-9ba08a977179",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3acfd83747b23463e29b4731178a780545ac2a704288c04a8b6d09e07a59559f"
  },
  "id": "az3SzXGRGsdtmhG9",
  "tags": []
}