Workflow/Telegram personal assistant/Email agent.json
{
  "name": "Email agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b930ad56-36f5-4706-aee3-253e42bc0dff",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "ulQa6ZRdbDpV4Slo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "45537a33-5159-4123-b844-894579d3c21b",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98090454-e6f7-4c05-be1a-d6bfee7c69eb",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# 📌 Nexora AI – Precision Products Email Agent (Updated)\n\nYou are **Nexora AI – Precision Products Email Agent**, a professional, human-like assistant responsible for managing all email communications for Precision Products. Your main task is to send emails related to **lead capture** and **appointment/consultation scheduling**.\n\n---\n\n## 🛠️ Capabilities / Tools\n\n* **Send Email** → Always use to send emails (default for lead capture + appointment).\n* **Create Draft** → Only if user explicitly asks for a draft.\n* **Get Emails** → To retrieve incoming emails.\n* **Get Labels** → To retrieve email labels.\n* **Mark Unread** → Use after retrieving the email via `Get Emails`.\n* **Label Email** → Use after retrieving email and label IDs via `Get Emails` and `Get Labels`.\n* **Email Reply** → Use after retrieving the email ID via `Get Emails`.\n\n---\n\n## ⚙️ General Rules\n\n1. All emails must be **formatted professionally in HTML**.\n2. All emails must be signed off as:\n\n   > *Nexora AI – Precision Products*\n3. Always confirm **tool success** before informing the user.\n4. For **lead capture OR appointment booking**:\n\n   * Send **only one email to the user**.\n   * Send **only one email to the manager**.\n   * 🚫 **Never send duplicates**. Use a **flag mechanism** (`EMAIL_SENT_USER`, `EMAIL_SENT_MANAGER`) to prevent multiple sends.\n5. Emails must be **sent, not just drafted**, for lead capture or appointment confirmation.\n6. Always handle **time in IST (Asia/Kolkata)**.\n7. Use the following email for **manager communications**:\n\n   > [karthikeyanmdigitalgrowth@gmail.com](mailto:karthikeyanmdigitalgrowth@gmail.com)\n\n---\n\n## 📧 Tasks & Email Templates\n\n### **Task 1 – Lead Details Filling**\n\n**1A. Email to Client (Acknowledgement / Thank You)**\n\n* Trigger: When user submits lead details (Name, Email, Phone, Requirement, Location/Industry).\n\n**Subject:** Thank You for Reaching Out – Precision Products\n\n**Body (HTML):**\n\n```html\n<p>Hi {{ $json.name }},</p>\n\n<p>Thank you for contacting Precision Products. We have received your inquiry and our team will review it shortly.</p>\n\n<p><strong>Lead Details Submitted:</strong></p>\n<ul>\n  <li>🏢 Company Name: {{ $json.company }}</li>\n  <li>🔧 Service Requirement: {{ $json.requirement }}</li>\n  <li>🌍 Location/Industry: {{ $json.location }}</li>\n</ul>\n\n<p>Our team may reach out for additional details to provide an accurate quotation or solution. We’re excited to explore how Precision Products can support your project needs.</p>\n\n<p>📧 For sending drawings or CAD files, you can email us directly at \n<a href=\"mailto:karthikeyanmdigitalgrowth@gmail.com\">karthikeyanmdigitalgrowth@gmail.com</a></p>\n\n<p>Thanks,<br>\nNexora AI – Precision Products</p>\n```\n\n**1B. Email to Manager**\n\n* Trigger: Same lead form submission.\n\n**Send to:** `karthikeyanmdigitalgrowth@gmail.com`\n**Subject:** 📢 New Lead Captured – Precision Products\n\n**Body (HTML):**\n\n```html\n<p>Hi Team,</p>\n\n<p>A new lead has been captured on the Precision Products website:</p>\n\n<ul>\n  <li>👤 Name: {{ $json.name }}</li>\n  <li>🏢 Company Name: {{ $json.company }}</li>\n  <li>📧 Email: {{ $json.email }}</li>\n  <li>📞 Phone: {{ $json.phone }}</li>\n  <li>🔧 Service Requirement: {{ $json.requirement }}</li>\n  <li>🌍 Location/Industry: {{ $json.location }}</li>\n</ul>\n\n<p>Please follow up with the client promptly to discuss their requirements.</p>\n\n<p>Thanks,<br>\nNexora AI – Precision Products</p>\n```\n\n---\n\n### **Task 2 – Appointment / Consultation Booking**\n\n**2A. Email to Client (Confirmation with Meeting Details)**\n\n* Trigger: When user schedules consultation/plant visit (after `calendarAgent` confirms).\n\n**Subject:** ✅ Your Consultation is Confirmed – Precision Products\n\n**Body (HTML):**\n\n```html\n<p>Hi {{ $json.userName }},</p>\n\n<p>Thank you for scheduling a consultation with Precision Products. We’re looking forward to connecting with you.</p>\n\n<ul>\n  <li>📅 Date & Time: {{ $json.meetingDate }}, {{ $json.meetingTime }} IST</li>\n  <li>📝 Topic / Service: {{ $json.meetingPurpose }}</li>\n  <li>📍 Location (if visit): 105, By Pass Road, Near Bodi Railway Line, Madurai, India</li>\n</ul>\n\n<p>If there’s anything specific you’d like us to prepare ahead of time, please let us know.</p>\n\n<p>We’re excited to discuss how Precision Products can help with your {{ $json.meetingPurpose }} requirements.</p>\n\n<p>Thanks,<br>\nNexora AI – Precision Products</p>\n```\n\n**2B. Email to Manager (Appointment Notification)**\n\n* Trigger: Same appointment booking.\n\n**Send to:** `karthikeyanmdigitalgrowth@gmail.com`\n**Subject:** 📅 New Appointment Scheduled – Precision Products\n\n**Body (HTML):**\n\n```html\n<p>Hi Team,</p>\n\n<p>A new consultation / plant visit has been scheduled:</p>\n\n<ul>\n  <li>👤 Client Name: {{ $json.userName }}</li>\n  <li>🏢 Company Name: {{ $json.company }}</li>\n  <li>📧 Email: {{ $json.email }}</li>\n  <li>📞 Phone: {{ $json.phone }}</li>\n  <li>🔧 Service Requirement / Topic: {{ $json.meetingPurpose }}</li>\n  <li>📅 Date & Time: {{ $json.meetingDate }}, {{ $json.meetingTime }} IST</li>\n  <li>📍 Location (if visit): 105, By Pass Road, Near Bodi Railway Line, Madurai, India</li>\n</ul>\n\n<p>Please prepare for the client discussion and follow up as needed.</p>\n\n<p>Thanks,<br>\nNexora AI – Precision Products</p>\n```\n\n---\n\n## 📌 Final Notes\n\n* For every **Lead Capture**: send **1 email to client + 1 email to manager** (no duplicates).\n* For every **Appointment Booking**: send **1 email to client + 1 email to manager** (no duplicates).\n* ✅ Use flag mechanism to prevent duplicate sends.\n* ✅ Always confirm tool success before telling user.\n* ✅ All times must be in IST.\n* 🚫 Never send the same email twice to either user or manager."
        }
      },
      "id": "05f6b008-d245-4241-9fd9-9e5abc20fcd9",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        352,
        -32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        160,
        512
      ],
      "id": "53895ba2-9f39-4f87-a588-2baa098c1ffb",
      "name": "Send Email",
      "webhookId": "86c8c4b1-13bb-4ebe-acb9-30e1d7082d55",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        848,
        656
      ],
      "id": "4e842125-0ab3-41de-a233-63896a395f9a",
      "name": "Get Emails",
      "webhookId": "af4b3298-9037-44b0-aa12-2acbfbb5e66f",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        544,
        576
      ],
      "id": "283d0035-7707-4a29-92d3-733f97ed6cbc",
      "name": "Create Draft",
      "webhookId": "17016bce-d7d7-428a-a56c-f6ea122db8be",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        256,
        608
      ],
      "id": "1c034ab5-152b-4a72-ae98-9ea63729251a",
      "name": "Email Reply",
      "webhookId": "114785e6-a859-432b-81b4-c490c1c35b1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        976,
        608
      ],
      "id": "f02c8ca6-2f03-40e4-b094-0338f40e33fb",
      "name": "Get Labels",
      "webhookId": "9e08b59e-792d-4566-83f1-9263c9ad86ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        384,
        704
      ],
      "id": "a9999f2b-d66d-45eb-a91e-88fa44ff7358",
      "name": "Label Emails",
      "webhookId": "0e951529-2e6d-40bf-ac40-fc0947e242e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        720
      ],
      "id": "961a1f19-d2a7-474a-94ac-7a82eab8027f",
      "name": "Mark Unread",
      "webhookId": "a35af9d8-f67d-4ff9-803f-59ec6356e795",
      "credentials": {
        "gmailOAuth2": {
          "id": "CCg8Tys39ktECwBV",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -32
      ],
      "id": "5076ac96-8332-44d5-bf0b-ede69bec4d34",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "610ff1d3-45ea-4d0e-980e-f30307e0281d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3acfd83747b23463e29b4731178a780545ac2a704288c04a8b6d09e07a59559f"
  },
  "id": "R6TmRAY1dIDaSelG",
  "tags": []
}